[submodule "MyFirstDapp-Foundry/lib/forge-std"]
	path = MyFirstDapp-Foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MyFirstDapp-Foundry/lib/openzeppelin-contracts"]
	path = MyFirstDapp-Foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
